main .title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

main section {
  padding: 20px;
}

main section table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

main section table td {
  border-bottom: 1px solid #ddd;
}

main section table th {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

main section table img {
  width: 100px;
  height: 100px;
}

input[type='text'],
input[type='submit'] {
  margin-top: 20px;
}

input[type='text'] {
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px;
}

input[type='submit'] {
  border-radius: 10px;
  border: 1px solid orange;
  background: #fff;
  color: #29fd53;
  padding: 10px;
  cursor: pointer;
  transition: all 1s;
  font-size: 20px;
  font-weight: 600;
}

input[type='submit']:hover,
.total-bill .bill-card button:hover {
  background-color: orange;
  color: white;
}

.total-bill {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 20px;
}

.total-bill .bill-card {
  width: 300px;
  background-color: #f4f6f8;
  padding: 20px;
}

.total-bill .bill-card h1 {
  font-size: 32px;
  text-align: left;
  margin: 10px;
}

.total-bill .bill-card button {
  border-radius: 10px;
  border: 1px solid orange;
  background: #fff;
  color: #29fd53;
  padding: 10px;
  cursor: pointer;
  transition: all 1s;
  font-size: 18px;
  font-weight: 600;
}

.total-bill .bill-card span {
  font-size: 20px;
}

.total-bill .bill-card span strong {
  margin-right: 130px;
}

.total-bill .bill-card hr {
  margin: 15px 0;
}
